<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

<h2>My Dashboard</h2>

<a href="/logout">Logout</a>

<hr>

<form action="/create" method="POST">

<input
type="text"
name="title"
placeholder="Post Title"
required>

<textarea
name="content"
placeholder="Write your blog..."
rows="8"
required></textarea>

<button type="submit">
Publish Post
</button>

</form>

<hr>

<h2>My Posts</h2>

{% for post in posts %}

<div class="post">

<h3>{{ post[1] }}</h3>

<p>{{ post[2][:150] }}...</p>

<a href="/edit/{{ post[0] }}">Edit</a> |

<a href="/delete/{{ post[0] }}">Delete</a>

</div>

<hr>

{% endfor %}

</div>

</body>
</html>
